/*///////////////////*/
/*UNIVERSAL CSS*/
/*//////////////////*/
body {
	width: 100%;
	margin: 0;
	padding:0;
	background-color: black;
	color: white;
}

#adspaced {
	text-align: center;
	border: 1px solid blue;
	position: fixed;
	bottom: 0;
	left: 0;
	margin-bottom: 0;
}

* {
	font-family: 'ZCOOL KuaiLe', cursive;
}
a:link {
	text-decoration: none;
	color: white;
}
a:visited {
	text-decoration: none;
	color: white;
}
/*///////////////////*/
/*HEADER.PHP CSS*/
/*//////////////////*/
#header-title {
	text-align: center;
	color: #ff00e6;
}
#profile-img {
	max-width: 100%;
	max-height: 100%;
	margin-top: 50%;
}
#header-logout {
	text-align: right;
}
header {
	box-shadow:0 0 20px rgba(255,105,180,0.73);
}
/*///////////////////*/
/*INDEX.PHP CSS*/
/*//////////////////*/

#title {
	text-align: center;
	font-size: 22px;
	animation: text-flicker 10s linear infinite;
	color: #ff00e6;
	animation: border-flicker 9s linear infinite;
}
#signup-container {
	text-align: center;
	margin-top: 10%;
	font-size: 22px;
	color: #ff00e6;
	background-color: black;
	margin-bottom:0;
	animation: border-flicker 15s linear infinite;
	z-index: 10;
	margin-bottom: 5%;
}
#signup-form {
	text-align: center;
	font-size: 20px;
	animation: border-flicker 15s linear infinite;
	z-index: 10;
}
/*///////////////////*/
/* HOME.PHP CSS*/
/*//////////////////*/
#menu-card {
	text-align: center;
	margin-top: 10%;
	animation: border-flicker 7s linear 1;
	box-shadow: 0 0 20px rgba(16,134,232,0.73);
	
}
#card-title {
	color: #ff00e6;
}
/*///////////////////*/
/* PROFILE.PHP CSS*/
/*//////////////////*/
#user-details {
	text-align: center;
	margin-top: 3%;
	box-shadow: 0 0 20px rgba(16,134,232,0.73);
}






